// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// !Colors
$primaryColor: #fff;
$secondaryColor: #0c6ce0;
$thirdColor: #b2a9ac;
$fontPrimaryColor: #fff;
$fontSecondaryColor: #2b2c2b;
$fontThirdColor: #bbccd3;

// !Size Font

$fontSizeLarge: 48px;
$fontSizeMedium: 24px;
$fontSizeSmall: 18px;
$fontSizeSmallExtraSmall: 14px;
$fontSizeParagraph: 12px;

// ! Font

$fontInter: 'Inter', sans-serif;
